<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sheikhanas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UploadProjects" />
        <activity android:name=".UploadResearch" />
        <activity android:name=".UploadSchedule" />
        <activity android:name=".UploadPublication" />
        <activity android:name=".UploadEvents" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DashboardMain" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>